.nav_item {
    background-color: var(--secondary-color);
    height: 90px;
    width: 90px;
    transition: all 1s ease-out !important;
    cursor: pointer;

    border-radius:0px;
    border-color: aqua;
    border-bottom: 4px;
}
.nav_item.end {
    background-color: var(--tertiary-color);
}

.nav_item:hover {
    transform: translateY(5px);
    transition: transform 0.05s ease-in;
}

.nav_item.clicked {
    transform: translateY(50%);
    border-radius:10px;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.15s ease-in !important;

}
