.nav_item {
    background-color: var(--secondary-color);
    height: 90px;
    width: 90px;
    transition: transform 1s ease-out;
    cursor: pointer;
}
.nav_item.end {
    background-color: var(--tertiary-color);
}

.nav_item:hover {
    transform: translateY(5px);
    transition: transform 0.05s ease-in;
}

.nav_item.clicked {
    transform: translateY(50%);
}
