<base href="/">
<main class="main" style="margin:0; padding:0;">
  <div class="background">
    <div class="pageholder">
      <div class="navigation">
        <app-navbaritem grouptag="main">
          Landing
        </app-navbaritem>
        <app-navbaritem grouptag="main">
          t2 item
        </app-navbaritem>

        <app-navbaritem route="colors" grouptag="main">
          colors
        </app-navbaritem>

        <div class="seperator">

        </div>
        <app-navbaritem [isEnd]="true">
          ayo
        </app-navbaritem>

        <app-navbaritem [isEnd]="true">
          epic
        </app-navbaritem>

        <app-navbaritem [isEnd]="true">
          gaming
        </app-navbaritem>

      </div>

      <div style="display: flex;">
        <div class="page" style="width:60%; flex: 0 0 60%;">
          <h1 class="accent">heading</h1>


        </div>
        <div class="page" style="width:40%; overflow: hidden;">
          <app-leaf *ngFor="let leaf of leaves" [positionX]="leaf.positionX" [duration]="leaf.duration"></app-leaf>
        </div>
      </div>
      <router-outlet name="primary" />
      <router-outlet name="secondary" />


    </div>
  </div>

</main>