
<main class="main">
  <div class="content">
    <div class="navigation">

      <app-navbaritem>
        t1 item
      </app-navbaritem>
      
      <app-navbaritem>
        t2 item
      </app-navbaritem>

      <app-navbaritem>
        ayo
      </app-navbaritem>

      <div style="margin-left: auto;">
        <app-navbaritem [isEnd]="true">
          ayo
        </app-navbaritem>
      </div>
      
      
    </div>
    <h1 class="accent">heading</h1>  
  
    
  </div>
</main>

<router-outlet />

<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const navItems = document.querySelectorAll('.nav_item');

    navItems.forEach(item => {
      item.addEventListener('click', function() {
        // Remove 'clicked' class from all nav items
        navItems.forEach(i => i.classList.remove('clicked'));
        // Add 'clicked' class to the clicked nav item
        this.classList.add('clicked');
      });
    });
  });
</script>